.bg-danger {
  background: rgb(221, 119, 136) !important;

  a {
    color: white;
  }
}

.bg-warning {
  background: rgb(102, 85, 102) !important;

  a {
    color: white;
  }
}

.bg-info {
  background: rgb(102, 119, 153) !important;

  a {
    color: white;
  }
}
